@using OneToMany_task.ViewModels.Sliders

@model SliderDetailVM

<div class="container mt-5">
    <div class="image">
        <img src="~/img/@Model.Image" style="width:600px !important; height:400px !important" />
    </div>
    <a asp-action="Index" class="btn btn-primary text-white">Back</a>
</div>

